

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none !important;
  
}

.hero-image{
  width: full;
  height:80vh;
  object-fit: contain;
  position: absolute;
  right: 0;
}
.hero-container{
  width: full;
  height:80vh;
}
.hero-text-container{
  width: full;
  height:80vh;
  display: flex;
  flex-direction: column;
  justify-content: center ;
  align-items: flex-start;
  gap: 15px;

}
.hero_section_main_text{
  font-weight: 700;
  font-size: 45px;
  
}
.hero_section_secondary_text{
  font-weight: 600;
  font-size: 17px;
}
.primary_call_to_action{
  background-color: rgb(88, 85, 85);
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  cursor: pointer;
}
.secondary_call_to_action{
  font-weight: 500;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  color:black;
  font-size: large;
}

h1.feature_primary_title{
  font-size: 25px;
  font-weight:650;
  width:60vw;
  text-align:center

}
h2.feature_secondary_title{
  font-size: 16px;
  font-weight: 500;
  width: 50vw;
  text-align: center;
  opacity: .9;
}

.feature_card_wrapper{
  display:flex; 
  flex-wrap: wrap;
  justify-content: center;
  


}

.feature_card_container{
  display: flex;
  flex-direction: column;
  gap:2;
  width:250px;
  justify-content: center;
  align-items: center;
  padding:10px;
}
.feature_card_title{
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}
.feature_card_description{
  font-size:13px;
  font-weight:500;
  text-align: center;
  opacity: .9;
}

.feature{
  margin-top:40px;
  margin-bottom:40px;
  padding: 30px 0 30px 0 ;
  border-right: solid 20px rgb(65,64,64);
  border-left: solid 20px rgb(65,64,64);
  
}
.process_container_wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:15px;
  margin-top: 20px;
  margin-bottom: 50px;
}
.process_card_container{
  display: flex;
  justify-content: center;
  width:80vw;
  gap:20px;
  flex-wrap: wrap;
}

.process_title{
  font-size: 25px;
  font-weight:650;
  width:60vw;
  text-align:center;
}
.process_card{
  width: 230px ;
  display : flex ;
  flex-direction:column;
  gap:1 ;

}
.process_card_image{
 
  object-fit: cover;
  width:230px;
  height:150px;
  border-radius: 10px;
  
}
.process_card_title{
  font-size: 16px;
  font-weight: 600;

}
.process_card_description{
  font-size: 14px;
  font-weight:400;
  text-align: justify;
}

.process_call_to_action{
  display: flex;
  flex-direction: column;
  width: 350px;
  border-top: solid 5px rgb(83, 207, 0);
  padding:15px;
  text-align: center;
  gap: 5px;
}
.process_cta_primary_text{
  font-size: 14px;
  font-weight: 500;
}
.process_cta_secondary_text{
  font-size:13px;
  font-weight: 400;
}
.process_cta_button{
  padding: 10px 13px 10px 13px;
  background-color: rgb(83, 207, 0);
  border-radius: 20px;
  display: inline;
  font-size: 14px;
  font-weight:500;
  color:white;
  white-space: nowrap;
}

.faq{
  margin-top:40px;
  padding: 20px 0 20px 0 ;
  border-right: solid 10px rgb(65,64,64);
  border-left: solid 10px rgb(65,64,64);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:5px;

  
}

.faq_container_primary_text{
  font-size: 25px;
  font-weight:650;
  width:60vw;
  text-align:center
}

.faq_container_secondary_text{
  font-size: 16px;
  font-weight: 500;
  width: 50vw;
  text-align: center;
  opacity: .9;
}
.faq_container_wrapper{
  display:flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap:15px;
  padding-top: 20px;

}
.faq_container{
  padding: 0 15px 0 15px;
  margin:auto;
  border-bottom: solid 2px rgba(177, 174, 174, 0.329);
  
  


  
}
.faq_title{
  font-size: 18px;
  font-weight:600;

}
.faq_description{
  font-size: 14px;
  font-weight:400;
  opacity: 0.99;

}

.footer{
  height: auto;
  position: sticky -webkit-sticky;
  bottom:0;
  background-color: red;
  margin-top: 30px;
  display:flex;
  flex-direction: column;
  padding: 60px 60px 1px 60px;
  color:white;
 
}
.footer_container_wrapper{
  display:flex;
  padding-bottom: 20px;
  gap:15px;
 border-bottom: 1px solid rgb(121, 240, 74);
  flex-wrap: wrap;
}
.footer_container{
  display:flex;
  flex-direction: column;
  gap:20px;

}
.footer_container_title{
  font-size: 20px;
  font-weight: 700;
  color:white;
}
.footer_container_description{
  font-size: 16px;
  font-weight: 400;
  color:white
}

.footer_bottom_container{
  display:flex;
  justify-content:space-between;
  margin-top: 20px;
}
.footer_legal{
  display: flex;
  flex-direction: column;
  color:white;
}

.footer_contact_container{
  display: flex ;
  gap:10px;


}
.footer_social_media{
  border-radius: 50%;
  padding: 6px;
  width:20px;
  height:20px;
}
footer_contact_items{
  color:white;

}
.contact_logo{
  border : 2px solid white;

  border-radius: 50%;
  padding: 5px;
  width:30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.submit_button{
  background-color: rgb(41, 39, 39);
  padding:6px 20px 6px 20px;
  color:white;
  font-weight:600;
  font-size: 20px;
  border-radius: 8px;
  width:200px;
  margin:auto;
  margin-top: 30px;
  
  
}
.social_logo{
  width: 40px;
  height: 40px;
  background-color: rgb(56, 56, 56);
  border-radius: 50%;
  padding: 5px;
  display:flex ;
  justify-content: center;
  align-items: center;
}

mid_section_wrapper{
   
  padding: 100px 0 20px 0 ;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:10px;
}

.mid_section_title{
  font-size: 25px;
  font-weight:650;
  text-align:center
}